{% extends "includes/layout.html" %}

{% block insidehead %}
    {% include "includes/settings.inc" %}
{% endblock %}

{% block body %}

<div class="main">

    <nav id="sidebar">
        {% include "includes/side_bar_logo.html" %}

        <ul class="list-unstyled components">
            <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_('Home')}}</a></li>
            <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_('Announcements')}}</a></li>
            <li class="active"><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_('Documents')}}</a></li>
            <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_('Pictures')}}</a></li>
            <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_('Listings')}}</a></li>
            <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_('About')}}</a></li>
            {% include "includes/info.html" %}
        </ul>
    </nav>


    <div class="content">
        {% include "includes/mobile_menu.html" %}

        <div class="section-title" data-aos="zoom-out">
            <h2>{{_('Open View Documents')}}</h2>
        </div>

        <div class="spacer"></div>
        <p>{{_('If there are documents below, clicking it will open a second tab.')}}</p>
        <p>
        <div class="app-container">
            <div class="row">
                {% for doc in opendocs %}
                    <div class="col-1 doc-col">
                        <a class="doc-link" href="opendocs/files/{{doc}}" target="_blank"> {{doc}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div> <!-- closes main -->

{% endblock %}
