
<html>
    <head>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='common/img/favicon.png') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/additional.css') }}">
      <title>{{_("Company Is Not Logged In")}}</title>
    </head>

    <body>
        <div class="main">

          <nav id="sidebar" style="background: #f5b041;">
              <div class="sidebar-logo-area">
                  <img class="logo-div" src="/img/bluelogo.png">
                  <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
              </div>
          </nav>

          <div class="content">

              <div class="error-body">
                  <div>
                      <h1 style="font-size: 18px;">{{_("Company Is Not Logged In")}}</h1>
                  </div>

                  <div style="margin-top: 20px; font-size: 16px; font-family: sans-serif; ">
                      <span><b>{{info_data['company_id']}}</b></span>:
                      <span style="color: grey;">{{_(info_data['message'])}}</span>
                  </div>
              </div> <!-- closes about-body box -->

          </div>

        </div> <!-- close main -->
    </body>

</html>
