{% extends "includes/layout_mtadmin.html" %}


{% block insidehead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
{% endblock %}


{% block body %}
<div class="main">

    <nav id="sidebar">  
        <div class="sidebar-logo-area">
            <img class="logo-div" src="img/bluelogo.png">
            <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
        </div>

        <ul class="list-unstyled components">
            {% if info_data['language'] == 'en' %}
                <li class="active"><a class="nav-link" href="register_en"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li><a class="nav-link" href="about_en"><i class="fa fa-fw fa-info"></i> About</a></li>
            {% elif info_data['language'] == 'pt' %}
                <li class="active"><a class="nav-link" href="registrar_portugues"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li><a class="nav-link" href="sobre_portugues"><i class="fa fa-fw fa-info"></i> Sobre</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% include "includes/mobile_menu_mtadmin.html" %}

        <div class="section-title" data-aos="zoom-out">
            <h2>Home</h2>
        </div>

        <div class="container my-5" style="font-family: sans-serif; font-size: 13px;">

                <div class="buttons-section">
                    <h4>{{_("Register Your Property Management Company")}}</h4>

                    <div class="spacer"></div>

                    <div class="center">
                        <button class="big-button" style="/*max-width: 800px;*/" data-toggle="collapse" data-target="#benefits_section" aria-expanded="false" aria-controls="collapseExample">
                          $ {{_("Some of the Benefits of Using CondoSpace?")}} $
                          <!-- <i class="fa fa-dollar"></i>&nbsp;&nbsp;  -->
                        </button>
                    </div>

                    <div id="benefits_section" class="app-container collapse">
                        <div class="registration-box" style="">
                            <b>{{_("Some of the benefits")}}:</b>
                            <ol>
                                <li>{{_("Sense of belonging and community")}}</li>
                                <li>{{_("Resident Census Card")}}</li>
                                <li>{{_("Ability to issue Fines and Request Payments ($)")}}</li>
                                <li>{{_("Make reservations of common areas ($)")}}</li>
                                <li>{{_("Communication between Association and Residents")}}</li>
                                <li>{{_("Easy access to documents in PDF format such as Bylaws, Rules and Regulations, Financial Statements, etc.")}}</li>
                                <li>{{_("Web presence: suppose your condominium is called Hill Top Condominium, your complete web address could be http://condospace.app/hilltop")}}</li>
                                <li>{{_("Ability to list apartments for sale with pictures (especially useful for FSBOs)")}}</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="spacer"></div>
                <div class="spacer"></div>

                <div class="" style="font-size: 12px;">
                    <div class="container">
                        <div class="row mb-2">
                          <span>{{_("Company Id")}}:</span>
                          <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-id" placeholder='{{_("Ex. treetop")}}'>
                        </div>

                        <div class="row mb-2">
                          <span>{{_("Company Name")}}:</span>
                          <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-name" placeholder='{{_("Ex. Treetop Condominium Management")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Email")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-email">
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Phone")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-phone" placeholder='{{_("Ex. (11) 96711-6795)")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Address")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-address" placeholder='{{_("Address of the company")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Number")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-address-number" placeholder='{{_("Address number on the street")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Complement")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-address-complement" placeholder='{{_("Address complement")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("ZIP")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-zip" placeholder='{{_("ZIP")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("City")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-city" placeholder='{{_("City")}}'>
                        </div>

                        <div class="row mb-2">
                            <div style="height: 28px; /*border: 1px solid blue;*/">
                                <span class="form-label">{{_("State")}}:</span>
                            </div>
                            <div style="margin-left: 6px;">
                                <select id="company-state" style="font-size: 14px; height: 28px;">
                                {% if info_data['language'] == 'en' %}
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DC">DC</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH" selected>NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                {% elif info_data['language'] == 'pt' %}
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP" selected>SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Country")}}:</span>
                            <input type="text" class="form-control form-control-sm" style="margin-right: 16px;" id="company-country" placeholder='{{_("Country")}}'>
                        </div>

                        <div class="row mb-2">
                            <span>{{_("Language")}}:</span>
                            <select id="pref-language" class="form-control form-control-sm" name="pref-language" style="font-size: 13px;">
                                {% if info_data['language'] == 'en' %}
                                    <option value="en" selected>English</option>
                                    <option value="pt">Português</option>
                                {% elif info_data['language'] == 'pt' %}
                                    <option value="en">English</option>
                                    <option value="pt" selected>Português</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="spacer"></div>

                <div class="center">
                    <button type="button" class="btn btn-primary" onClick="sendCompanyRegistrationForm()">{{_("Register My Company")}}</button>
                </div>

                <div style="margin: 40px;"></div>

                <div class="social-media">
                    <h5>{{_("Follow Us on Social Media")}}</h5>
                    <div class="social-icons">
                        <a href="https://instagram.com/blueriversys"><i class="fa fa-instagram" title="Instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook" title="Facebook"></i></a>
                        <a href="#"><i class="fa fa-google" title="Google"></i></a>
                        <a href="#"><i class="fa fa-twitter" title="Twitter"></i></a>
                    </div>
                </div>

        </div>

    </div>
</div>

<input type="hidden" id="loggedin-lang" value={{info_data['language']}}>

{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/mtadmin/registration_mtadmin.js') }}"></script>
{% endblock %}

