

<html>
<body>

<div class="main">

    <div class="content">

        <div style="margin: auto; width: 90%;">
            <h1 style="text-align: center;">Page Not Found</h1>
        </div>

        <div class="about-style">
            <div class="about-body">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="center">
                        <img style="width= 95%; max-width: 300px;" src="{{ url_for('static', filename='/img/BlueRiverLogo.gif') }}">
                    </div>

                    <div style="margin-top: 30px;"></div>

                    <div>
                        Sorry, the page you're looking for doesn't exist here.
                    </div>

                    <p>

                    <div>
                        Para registrar em Português: <a href="registrar_portugues">https://condospace.app/regis/registrar_portugues</a>
                    </div>
                    <div>
                        To register in English: <a href="register_en">https://condospace.app/regis/register_en</a>
                    </div>

                    <div style="margin-top: 30px;"></div>

                    <div class="center">
                        <img style="width= 95%; max-width: 360px;" src="{{ url_for('static', filename='/img/contact.png') }}">
                    </div>
                </div>
            </div> <!-- closes about-body box -->
        </div>
    </div> <!-- closes about-style box -->
</div> <!-- close main -->

</body>
</html>
