<input type="hidden" id="loggedin-id" value={{info_data['loggedin-userdata']['id']}}>
<input type="hidden" id="loggedin-userid" value={{info_data['loggedin-userdata']['userid']}}>
<input type="hidden" id="loggedin-unit" value={{info_data['loggedin-userdata']['unit']}}>
<input type="hidden" id="loggedin-name" value={{info_data['loggedin-userdata']['name']}}>
<input type="hidden" id="loggedin-tenant" value={{info_data['loggedin-userdata']['tenant']}}>
<input type="hidden" id="loggedin-lang" value={{info_data['language']}}>
