
.login-box {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    padding: 20px;
    border: 1px solid orange;
    border-radius: 6px;
}

@media (max-width: 576px) {
    .login-box {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}