.right-aligned {
    text-align: right;
    width: 120px;
}

fieldset {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cceef9;
    padding: 5px 10px;
    border: 1px solid blue;
    border-radius: 8px;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-style: bold;
    width: auto;
}

/*  define styling for input boxes */
input {
    margin-right: 15px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    border-color: blue;
    border-width: 1px;
    /*box-shadow: 4px 4px 2px lightgray;*/
    font-family: inherit;
}

input:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #c17ac8;
    /*background: lightblue;*/
}

.email_input {
    width: 260px;
}

.phone_input {
    width: 130px;
}

.header {
    margin-bottom: 15px;
    font-size: 14px;
}

.unit-input {
    width: 60px;
}

.userid-input {
    width: 100px;
}

.name-input {
    width: 260px;
}

.phone-input {
    width: 120px;
}

.amount-input {
    width: 130px;
}

.descr-input {
    width: 280px;
}

.due-date-input {
    width: 130px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  front-size: 14px;
  height: 28px;
  line-height: 14px;
  align-items: center;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* some of the table properties come from "table" defined in additional.css */
.schedule-table {
  font-size: 14px;
}

.schedule-td {
  min-width: 140px;
}


