
.container {
  margin-left: 4px;
}

.upload-container {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.project-link {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3em;
}

.upload-browse {
  text-align: center;
/*  max-width: 880px; */
  padding: 4px;
  border: solid 1px #555;
/*  background: hsl(186, 35%, 89%); */
  background: var(--data-entry-color);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 8px;
}

.upload-browse input {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 28px;
  vertical-align: middle;
  max-width: 200px;
}

.upload-browse button {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 130px;
  min-height: 28px;
  vertical-align: middle;
}

/* these are for the file upload progress bar */
.upload-browse progress {
/*  display: none; */
  margin-top: 1px;
  margin-bottom: 1px;
  width: 200px;
  min-height: 20px;
  vertical-align: middle;
}

.upload-block {
  margin-left: 8px;
  margin-right: 8px;
  background: hsl(203, 39%, 94%);
  border-radius: 6px;
}

.upload-block p {
  /*background: hsl(203, 10%, 84%);*/
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 2px;
  color:hsl(201, 72%, 30%);
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 1px;
}

